*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #b00610;
}
main{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
#pokemon-selecionado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff ;
    border: 5px #333 solid;
    width: 85%;
    height: 35%;
}